.list-music {
  color: #ffffff;
}

.list-nav {
  margin: 20px;
}

.list-ul {
  height: 200px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.list-li {
  margin: 5px;
}

.list-li-selected {
  border: 2px solid #ffffff;
  background-color: #505050;
}
.list-li:hover {
  background-color: rgba(255, 0, 255, 0.4);
  cursor: pointer;
}
