/* reset css */
* {
  padding: 0;
  margin: 0;
  box-shadow: none;
  font-size: 16px;
  font-family: "Times New Roman", "sans-serif", "Arial", "Helvetica";
}

body {
  background-color: #000000;
  color: #ff00ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  /* border: 1px solid red; */
  margin: 20px;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px #ff0000, -1px -1px #444;
}

.container-main {
  border: 2px solid #606060;
  box-shadow: 2px 2px 2px 2px #ff0000;
  background-color: #000000;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  min-height: 400px;
  width: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background-image {
  background-image: url("../asserts/imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container-main {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  #value-volume {
    display: none;
  }
  .container-volume {
    margin-left: 20px;
  }
  .icon-music {
    height: 20px;
    width: 20px;
    padding: 5px;
  }
}
